/*==================================================================
Push in sidebar
==================================================================*/
/* Make the wrapper div stretch across the VP. Clicking in .site closes the menu */
.site {
    height: 100vh;
    position: absolute;
    width: 100%;
}

/* The sidebar */
.pushsidebar {
    background: WhiteSmoke;
    position: fixed;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    overflow-y: auto;
    left: -240px;
}

/*The sidebar when activated*/
.pushsidebar.menu-open {
    left: 0px;
}

/* Push classes applied to the body */
.push-body {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.push-body-right {
    left: 240px;
}

/* Transitions */
.pushsidebar,
.push-body {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*Responsive -sidebar will stay open on wide screen*/
@media screen and (min-width: 1000px) {
    .pushsidebar {
        left: 0;
    }
    .push-body {
        left: 240px;
    }
    .toggle-menu {
        display: none;
    }
}
